.img-heigh{
    height: 500px;
}
body{
    font-family: 'Poppins', sans-serif;
}

.footer-div{
    height: 300px;
    
}
.fa-brands{
    color: hsl(0, 0%, 100%);
    font-size: 2em;
    margin-left: 20px;
}
.ready-div{
    height: 250px;
}
